<!-- <div class="container"> -->

<div ng-include src="'./templates/menu.html'"></div>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>TITRE</th>
				<th>IMAGE</th>
				<th>ID AUTEUR</th>
				<th>PLATEFORME</th>
				<th>JEU</th>
				<th>DESCRIPTION</th>
				<th>DATE</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ancmt in ancmts">
				<td>{{ancmt._id}}</td>
				<td>{{ancmt.title}}</td>
				<td><img ng-src="{{ancmt.image}}" style="max-height:150px;" alt=""></td>
				<td>{{ancmt.creatorId}}</td>
				<td>{{ancmt.plateform}}</td>
				<td>{{ancmt.game}}</td>
				<td>{{ancmt.description}}</td>
				<td>{{ancmt.date}}</td>
				<td>
					<div class="btn-group" role="group">
						<button class="btn btn-default btn-success" ng-click="validate(ancmt._id)">
							Valider
						</button>
					   	 <button type="button" class="btn btn-default btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
					        Refuser
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a ng-click="revoke(ancmt._id, 'Contenu innaproprié')">Contenu innaproprié</a></li>
					      <li><a ng-click="revoke(ancmt._id, 'Contenu incohérent')">Contenu incohérent</a></li>
					    </ul>
					  </div>
				</td>
			</tr>
		</tbody>
	</table>
<!-- </div> -->