<!-- <div class="container"> -->
<div ng-include src="'./templates/menu.html'"></div>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>TITRE</th>
				<th>POSTER</th>
				<th>DATE</th>
				<th>DETAILS</th>
				<th>DESCRIPTION</th>
				<th>LIEU</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events">
				<td>{{event._id}}</td>
				<td>{{event.title}}</td>
				<td><img ng-src="{{event.poster}}" style="max-height:150px" alt=""></td>
				<td>{{event.date}}</td>
				<td>{{event.details}}</td>
				<td>{{event.description}}</td>
				<td>{{event.locationName}}</td>
				<td>
					<div class="btn-group" role="group">
						<button class="btn btn-default btn-success" ng-click="validate(event._id)">
							Valider
						</button>
					   	 <button type="button" class="btn btn-default btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
					        Refuser
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a ng-click="revoke(event._id, 'Contenu innaproprié')">Contenu innaproprié</a></li>
					      <li><a ng-click="revoke(event._id, 'Contenu incohérent')">Contenu incohérent</a></li>
					    </ul>
					  </div>
				</td>
			</tr>
		</tbody>
	</table>
